<%= nested_form_for(@concern, :html => { :multipart => true }) do |f| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concern.errors.count, "error") %> prohibited this concern from being saved:</h2>

      <ul>
      <% @concern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>

  <%= f.fields_for :attachments do |task_form| %>
    <%= task_form.file_field :file %>
    <%= task_form.link_to_remove "Remove this file" %>
  <% end %>
  <p><%= f.link_to_add "Add a file", :files %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
